body{

background:#101217;
color:#eee;
font-family:Arial;
margin:20px;

}


nav a{

color:#aaa;
margin:10px;

}


.card{

background:#1d2230;
padding:15px;
border-radius:12px;
margin:10px;

}


.match{

display:flex;
justify-content:space-between;
align-items:center;

background:#202535;

padding:12px;
margin:10px;

border-radius:10px;

}


.group{

border:1px solid #333;
padding:15px;
margin:20px;

}


textarea{

width:90%;
height:200px;

}


button{

padding:10px;
cursor:pointer;

}
